<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Enter Brevet Data</title>
            <script>
            function appendList() {
                var ul = document.getElementById('control-list');
                var li = document.createElement('li');
                var item = document.getElementById('control-name-input');
                var input = document.createElement('input');
                input.type='text';
                input.value = item.value;
                input.name='control-name';
                li.appendChild(input);
                item.value='';
                var item = document.getElementById('control-distance-input');
                var input = document.createElement('input');
                input.type='text';
                input.value = item.value;
                input.name='control-distance';
                li.appendChild(input);
                ul.appendChild(li);
                item.value='';
                }
        </script>

</head>
<body>
    <form method="post">
        <input placeholder="Brevet name" id="brevet-name-input" name="brevet-name"/>
        <select id="brevet-distance-input", name="brevet-distance"/>
            <option value="200">200</option>
            <option value="300">300</option>
            <option value="400">400</option>
            <option value="600">600</option>
            <option value="1000">1000</option>
            <option value="1200">1200</option>
        </select>
        <p>Controls:</p>
        <input placeholder="Control name" id="control-name-input" name="control-name-input"/>
        <input placeholder="Control distance" id="control-distance-input" name="control-distance-input"/>
        <button id="add-control-button" type="button" onclick="appendList()">Add control</button>
        <ul id="control-list"></ul>
        <button type="submit" id="submit-button">Next></button>
        {% csrf_token %}
    </form>
</body>
</html>
