<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>{{brevet.name}} {{brevet.nominal_distance}}</title>
        <script>
            function appendList() {
                var ul = document.getElementById('rider-list');
                var li = document.createElement('li');
                var item = document.getElementById('rider-name-input');
                var input = document.createElement('input');
                input.type='text';
                input.value = item.value;
                input.name='rider-name';
                li.appendChild(input);
                ul.appendChild(li);
                item.value='';
                }
        </script>
    </head>
    <body>
        <h1>{{brevet.name}} {{brevet.nominal_distance}}</h1>
        <form method="post">
            <p>
            <input name="organizer-name" id="organizer-name-input" placeholder="Enter organizer name">
            <input name="organizer-email" id="organizer-email-input" placeholder="Organizer email (optional)">
            <input name="organizer-phone" id="organizer-phone-input" placeholder="Organizer phone (optional)">
            </p>
            <input name="rider-name-input" id="rider-name-input" placeholder="Enter a rider name">
            <button id="add-rider" type="button" onclick="appendList()">Add rider</button>

            <ul id="rider-list"></ul>
            <p>
                <label>Start date:<input name="start-date" id="start-date-input" placeholder = "yyyy-mmm-dd"></label>
                <label>Start time:<input name="start-time" id="start-time-input" placeholder="HH:MM"></label>
            </p>
            <p><button type="submit" id="print-button">Download Card File</button></p>
            {% csrf_token %}
        </form>
    </body>
</html>
