<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Brevet Card Wizard</title>
</head>
<body>
<h1>Brevet Card Wizard</h1>
<a id="ad-hoc-link" href="brevet">Print Ad-hoc brevet</a>
<h2>Pre-configured brevets:</h2>
<table id="id_brevet_list">
    {% for brevet in brevets %}
    <tr><td><a href="card/{{brevet.id}}">{{brevet.name}} {{brevet.nominal_distance}}</a></td></tr>
    {% endfor %}
</table>
</body>
</html>
